ADMIN_EMAIL=admin@example.com
# Set this to a secret password
KEYCLOAK_ADMIN_PASSWORD=
# Replace example.com in the following two variables with your domain name
CADDY_ADDRESS=example.com
EXTERNAL_ORIGIN=https://example.com
HTTP_PORT=80
HTTPS_PORT=443
