<!DOCTYPE html>

<html lang="{{ ViewBag.Language }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{{ "~/assets/style_m.css" | url }}" media="screen and (max-width: 480px)">
  <link rel="stylesheet" type="text/css" href="{{ "~/assets/style.css" | url }}" media="screen and (min-width: 480px)">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
  <![endif]-->
</head>

<body>
  {% block content %}{% endblock %}
</body>

</html>
