<br>
<div class="container">
  <div class="label">
    <p>
      <strong>{{ form_field.Name }}</strong>
    </p>
  </div>
  <div class="field">
    <SCRIPT type = "text/javascript">
      str = "{{ form_field.HtmlFieldTag }}";
      str_w = str.replace(/!##!/g,"\"");
      document.write(str_w);
    </SCRIPT>
  </div>
</div>