$enable-rounded: false
$enable-shadows: false
$enable-gradients: false
$font-family-sans-serif: var(--Font)
$font-family-serif: var(--Font)

@import node_modules/bootstrap/scss/bootstrap

/*
 *общие настройки
 *текста
 *отступов (т.к bootstrap их по дефолту выстовляет свои)
 *минимальных размеров и максимальных размеров для удобства выставление собственных размеров
 */
html
	overflow-x: hidden
	overflow-y: hidden
*
	margin: 0
	font-size: var(--FontSize) !important
	max-width: none !important
	min-width: none !important

/*
 *позиционирование боди под наши стили
 *установка размеров боди для наследования и размеров дочерних элементов выставленных в % (чтобы браузер мог их высчитать)
 *overflow:hidden запрещает скролл для удобства пролистывания таблиц и прочего (где нужно можно выставить возможность скрола на самой странице)
 */
body
	top: 0px
	margin-top: 0px
	margin-bottom: 1px
	width: 100%
	height: 100%
	position: absolute
	overflow: hidden
	bottom: 0px
	background-color: var(--NavigationBackColor)
	div#app
		height: 100%

/*
 *стили печати
 *запрет браузеру менять цвета при печати
 *отступы для правильного отображения страницы на печатном листе
 */
@media print
	@page
		margin: 50px
	body
		-webkit-print-color-adjust: exact
		 color-adjust: exact

/*
 *bootstrap любит внутри обычного блока выставлять отступы убираем их
 */
div.without_padding
	padding: 0px
div.main_div
	height: 100%
	display: flex
	flex-direction: column
	div
		&.userview_div
			width: 100%
			overflow: hidden
			flex: 1

/*
 *убираем красивости у кнопок селектов ссылок и прочего (без important придется прописывать этоже буквально для каждой кнопки)
 */
button
    background-color: white !important
    border: 0px !important

/* Навигация */
.scrol_menu
	display: block
	overflow: auto
	height:	inherit
.none_scrol
	overflow: hidden
	height:	inherit
	display: flex
	flex-direction: column
div
	&.main_nav
		width: 100%
		height: 100%
		position: fixed
		top: 0
		left: 0
		display: flex
		padding: 0
		overflow: auto
		/*мобильная версия
		 *important везде стоят чтобы переплюнуть не мобильные стили возможно с этим стоит что то сделать))
		 */
		@media screen and (orientation: portrait)
			@media screen and (max-device-width: 480px)
				&
					position: relative !important
				div
					&.submain_nav
						width: 100% !important
						margin-top: 0px !important
						padding-top: 0px !important
						padding-bottom: 0px !important

						div
							&.subsubmain_nav
								height: auto !important
								margin: 0px !important
								width: 100% !important

								div
									&.nav_sec
										margin: 0px !important

										div
											&.nav_sec_tit
												height: 29px !important
												margin: 0px !important
												padding: 5px  !important
											
												a
													padding: 0px !important
													line-height: normal
										div
											width: 100% !important
											margin-left: 0 !important
											margin-right: 0 !important
											padding: 0px !important
											background-color: var(--MenuColor)
											&.nav_sec_tit
												background-color: var(--NavigationBackColor)
												overflow-x: scroll
											&.filter_back
												margin-bottom: 1px !important
											&.filter_back:first-child
												margin-top: 1px !important
											a
												&.nav_ent
													background: hsla(0,0%,100%,.3)
													margin-right: 0px !important
													margin-bottom: 1px
													width: 100%
													text-align: left
													height: 29px
													opacity: 1
												&.nav_ent:last-child
													margin-bottom: 0px
		/*ПК навигация*/
		div
			&.submain_nav
				width: 650px; /*450px*/
				display: block
				margin: auto
				padding: 0
				padding-top: 35px
				padding-bottom: 35px
				div
					&#logout
						button
							display: block
							padding: 5px
							padding-left: 7px
							padding-right: 7px
							height: 28px
							color: black
							line-height: normal
							background: hsla(0,0%,100%,.3)
							text-decoration: none
							border: 0px
							margin-right: 1px
							margin-bottom: 1px
				div
					&.subsubmain_nav
						width: 90%
						height: 90%
						display: flex
						align-items: center /*для разных браузеров*/
						justify-content: center /*для разных браузеров*/
						flex-direction: column
						align-items: flex-start
						margin: auto
						border: 0px
						padding: 0
						background-color: transparent
						div
							&.filter_back
								margin: 0
								padding: 0
								display: inline-block
								background: var(--MenuColor)
								margin-right: 2px
								margin-bottom: 2px
						*
							padding-left: 30px
						div
							&.nav_sec
								margin-bottom: 20px
								float: left
								clear: left
								padding: 0
								
								div
									&.nav_sec_tit
										padding: 5px
										padding-left: 1px
										min-height: 18px
										width: 100%
										height: calc(1.5em + 4px) !important
										a
											color: var(--NavigationTextColor) !important
											font-weight: bold
								.nav_ent
										display: table
										padding: 5px
										padding-left: 7px
										padding-right: 7px
										line-height: normal
										height: calc(1.5em + 4px) !important
										color: var(--ButtonTextColor) !important
										background: rgba(255, 255, 255, 0.3)
										text-decoration: none
										border: 0px

/*фиксированная строка внизу*/
nav
	&.fix-bot
		padding: 0
		line-height: normal
		width: 100vw
		white-space: nowrap
		overflow-x: auto
		overflow-y: hidden
		text-align: right
		margin-left: -1px !important
		position: relative
		background-color: var(--MenuColor) !important
		display: -webkit-box
		display: -ms-flexbox
		display: flex
		-webkit-box-orient: horizontal
		-webkit-box-direction: normal
		-ms-flex-direction: row
		flex-direction: row
		-ms-flex-wrap: nowrap
		flex-wrap: nowrap
		
		div.custom_warning
			background-color: var(--WarningBackColor)
			float: right
			button // button-save in bottom panel
				opacity: 0.76
		div.custom_danger
			background-color: var(--DangerBackColor)
			float: left
			overflow-x: auto
			width: 100%
			text-align: left
		div.custom_success
			background-color: var(--SuccessBackColor)

		div
			&.error
				margin-left: 1px !important
				margin: 0
				padding: 0
				border: 0
				border-radius: inherit
				display: inline-block
				button
					padding: 0
					margin: 0px
					margin-left: 0
					line-height: normal
					position: relative
					font-size: inherit
					background-color: var(--SaveBackColor) !important
					float: none
					vertical-align: unset


/* Таблица */
div
	&.cont_table
		@media screen and (max-device-width: 650px)
			display: flex
			flex-direction: column
			height: 100%
		width: 100%
		margin: 0px
		position: relative
		height: 100%
	/* чтобы FormControl отрисовывался поверх всего */
	&.active_editing
		@media screen and (max-device-width: 650px)
			position: sticky !important
			z-index: 100000

div
	div
		div
			/*фильтры для маленьких экранов*/
			@media screen and (max-device-width: 650px)
				form
					&.find
						position: initial !important
						min-width: 100% !important;
						margin-top: 0px;
						margin-bottom: -1px !important
						input
							margin-top: 0 !important
							margin-bottom: 2px !important

			form
				border-top: 1px solid white
				border-bottom: 1px solid white
				@media screen and (max-device-width: 650px)
					border-top: 0
					border-bottom: 0
				&.find
					top: 0
					display: inline-flex
					flex: 1
					width: auto
					border: 0
				/*Внутренние части текущего фильтра*/
				&.find
					div
						background-color: var(--MenuColor)
						width: 100% !important
						input:focus
							border-color:	var(--MenuColor)
							box-shadow: 0 0 0 white
						input
							border-color: var(--MenuColor)
							
							margin-right: 1px
							&.find_in + div
								color: var(--ButtonTextColor)
							&.find_in
								@media screen and (max-aspect-ratio: 13/9)
									@media screen and (max-device-width: 480px)
										border: 0
								height: calc(1.5em + 6px)
								padding-left: 7px
								background: hsla(0,0%,100%,.3)
								border-left: 0
								color: var(--ButtonTextColor)
							&.find_in::placeholder
								color: var(--ButtonTextColor)

						div
							margin: 0px

							span
								border: 0
								padding-left: 0px !important
								line-height: normal !important
								position: absolute !important
								display: inline-table
								right: 10px
								top: 1px
								bottom: 0
								height: 1.5em
								margin: auto
								cursor: pointer
								z-index: 4 !important

/* блок для отключения редактирования в таблице */
#disable_edit
	position: fixed
	top: calc(1.5em + 6px)
	left: 0
	&.edit_active
		width: 100vw
		height: 100vh
		z-index: 500
/* таблица поверх блока отключения редактирования */
table
	&.edit_active
		position: relative
		z-index: 1000


/*непосредственно сама таблица*/
/*решение для контролируемости ширины колонок*/
table
	width: 0 !important
	table-layout: fixed

/*технические колонки*/
.checkbox-col
	width: 20px
.open-form-col
	width: 20px

/*вид печати таблиц*/
@media print
	div
		&.tabl
			height: 100%
			float: none !important /*при печати для правильной масштабируемости*/
			overflow: visible !important /*чтобы при печати была возможность видеть таблицу*/
			@-moz-document url-prefix() /*стили в лисе исправляем баги с отображением границ таблицы*/
				table
					border-collapse: separate !important
					border-right: solid 1px var(--MenuColor)
			table
				max-width: 100% !important
				page-break-inside:auto
				border-spacing: 0
				thead
					th
						border: solid 1px var(--MenuColor)
				tbody
					tr
						td
							border: solid 1px var(--MenuColor)
							a
								text-decoration: none !important
div
	&.count_row
		bottom: 0px
		z-index: 2000
		line-height: normal
		float: left
		display: inline-block
		margin-left: 2px
		color: var(--ButtonTextColor)
@media screen and (max-aspect-ratio: 13/9)
	@media screen and (max-device-width: 480px)
		div
			&.nested_table
				width: max-content !important
				position: sticky;
				float: right
				right: 0
				div
					&.tabl
						width: max-content !important
div
	&.tabl
		@media screen and (max-device-width: 650px)
			flex: 1
			height: none
		float: left
		margin-bottom: 10px
		@media screen and (max-device-width: 650px)
			margin-bottom: 0
		height: 100%
		width: 100% /*на весь экран*/
		padding: 0
		overflow: auto /*чтобы скролить таблицу в том числе на мобилке*/
		table.table tbody + tbody
			border: 0
		table
			background-color: var(--TableBackColor)
			margin-bottom: 0px !important
			@media screen and (max-device-width: 768px), screen and (orientation: portrait)
				.checkbox-cells
					left: auto !important
					width: 0px !important
				.opemform-cells
					left: auto !important
					width: 0px !important
				.fixed-column
					left: auto !important
			@media screen and (min-device-width: 813px) and (orientation: landscape)
				.checkbox-cells
					left: 0px
				.opemform-cells
					left: 20px
				.fixed-column:first-child
					box-shadow: 3px 0 0px var(--MenuColor), inset 1px 0px 0px 0px var(--MenuColor)
				.fixed-column
						position: sticky
						z-index: 20
						background-color: inherit
						box-shadow: 3px 0 0px var(--MenuColor)
						border-left: 0
						@-moz-document url-prefix()
							outline: solid 1px  var(--MenuColor)
			thead
				height: 25px
				border-right: solid 1px  var(--MenuColor) !important
				th
					background: var(--MenuColor) !important
					color: var(--ButtonTextColor) !important
					padding: 0
					border: 0
					font-weight: normal
					max-width: 50px !important
					overflow: hidden
					white-space: nowrap
					text-overflow: ellipsis
					position: sticky/*фиксация шапки при скроле*/
					z-index: 20 /*при скроле таблицы чтобы шапка была видна*/
					top: 0
					padding-left: 3px

					&.fixed-column
						z-index: 25

					&.tabl_heading
						text-overflow: ellipsis
						vertical-align: top
			tbody
				border-right: solid 1px  var(--MenuColor) !important
				tr
					&.fixed-place-tr
						display: none
					@media screen and (max-device-width: 813px), screen and (orientation: portrait)
						&.fixed-place-tr
							display: table-row
						&.fixed-place-tr + tr
							border-bottom: solid 3px var(--MenuColor)
					/*выделение строк*/
					&.selected
						background-color: var(--TableSelectColor)
					&.none_selected
						background-color: var(--TableBackColor) !important
					background-color: white/*цвет таблицы возможно надо сменить на настраевоемый*/
					border-right: solid 1px var(--MenuColor)
					height: 100%
					@-moz-document url-prefix()
						td
							height: 100%
				td
					p,a
						color: var(--TableTextColor) !important

					@media screen and (max-device-width: 813px), screen and (orientation: portrait)
						&.fixed-place-td
							white-space: nowrap
							position: sticky
							left: 0
							padding: 0
							border-top: 0
							border-bottom: 0
							border-left: 0
							border-right: 0
							max-width: inherit !important
							width: 100vw !important
							overflow: visible
							div.fix:last-child
								border-right: solid 1px var(--MenuColor)
							div.fix:first-child
								border-left: solid 1px var(--MenuColor)
							div.fix > div:first-child
								border-left: 0
							div.fix
								margin-left: -1px
								max-width: inherit !important
								width: 100vw !important
								overflow: auto
								border-right: solid 1px var(--MenuColor)
								div
									display: inline-block
									border-right: 0
									border-left: solid 1px var(--MenuColor)
									padding-left: 3px
									padding-right: 3px
					border: solid 1px var(--MenuColor)
					padding: 0px
					padding-left: 3px
					overflow-wrap: break-word /* перенос по словам */
					overflow: hidden

					&.editing_style
						z-index: 200 !important
						overflow: visible !important
					
					p
						display: inline-block
						overflow: hidden
						width: 100%
						text-overflow: ellipsis
						line-height: normal
						padding-right: 4px
						margin-bottom: 0
						margin-top: 2px	
					div
						&.div_checkbox
							margin-left: 1px
					&.error_style
						background-color: var(--ErrorBackColor)
					button
						&.open_form
							padding: 0
							width: 14px
							margin-top: -27px/*фикс стилей bootatrap не трогать!!!!*/
							border: 0
							box-shadow: none
							outline: none
							height: 0px
							img
								max-width: 100% !important
								top: -3px /*фикс стилей bootatrap не трогать!!!!*/
						&.open_form:focus, &.open_form:active
							box-shadow: none
					&.select_fixed
						box-shadow: inset 0 0 0 2px var(--SelectBorderColor)
						position: sticky
						z-index: 20
					&.select
						box-shadow: inset 0 0 0 2px var(--SelectBorderColor)
						position: sticky
						z-index: 15

/* FormControl для таблицы */
div
	&.tabl
		table
			tbody
				td
					div
						&.form_control_panel
							@media screen and (max-device-width: 480px)
								left: 2px
								width: calc(100% - 4px)
								*
									width: calc(100vw - 44px) !important // padding 20px and left 2px
							left: calc(50% - 175px)
							top: calc(50% - 50px)
							position: fixed
							z-index: 1000
							background-color: var(--MenuColor)
							display: block
							align-items: center
							padding: 20px
							*
								width: 300px
							*:focus
								border: 0 !important
								box-shadow: none !important


/* Форма */
.custom-select
	display: block !important
@media print
	button.delete_btn
		display: none !important
button.delete_btn
	background-color: var(--MenuColor) !important
	padding: 0px
	padding-left: 7px
	padding-right: 7px
	line-height: normal
	height: calc(1.5em + 4px)
div
	&.cont_form
		overflow-y: auto
		overflow-x: hidden
		height: 100%
		width: 100vw
		@media screen and (max-aspect-ratio: 13/9)
				@media screen and (max-device-width: 480px)
					overflow: auto !important
form
	&.view_form
		@media screen and (orientation: portrait)
			@media screen and (max-device-width: 480px)
				width: max-content
		border-bottom: 0
		border-top: 0
		@media print
			div
				&.form_block
					width: 148vw !important
					div
						page-break-inside: avoid
						div
							page-break-inside: avoid
				
		div
			&.form_control_panel
				padding-right: 2px
				select
					border-color: var(--MenuColor)
					&.error-style
						background-color: var(--ErrorBackColor)
				*:focus
					border-color: var(--MenuColor)
					box-shadow: 0 0 0 white
					&.error-style
						background-color: var(--ErrorBackColor)
				input
					border-color: var(--MenuColor)
					&.error-style
						background-color: var(--ErrorBackColor)
				textarea
					border-color: var(--MenuColor)
					max-width: 98%
					min-width:
					resize: none
					overflow-y: hidden !important
					overflow-x: hidden !important
					word-wrap: unset !important
					&.error-style
						background-color: var(--ErrorBackColor)
				*:disabled
					background-color: var(--ControlDisableColor)

			&.form_block
				@media screen and (max-aspect-ratio: 13/9)
					@media screen and (max-device-width: 480px)
						width: 100% !important
						display: block
						div
							width: 100%
							&.form-group
								display: table
							div
								width: 100%
								div
									&.nested
										left: calc(2rem + 10px)
								&.form_control_panel
									.editors	
										width: calc(100vw - 2px)
										position: sticky
										left: 1px
									div
										&.caption_editors
											width: max-content
											position: sticky
											left: 1px
				div
					&.caption_editors
						color: var(--NavigationTextColor)
					&.caption_inline
						display: inline-block
						margin-left: 2px
									
				width: 100%
				margin: 0 1px
				display: inline-block
				vertical-align: top

			&.form-group
				margin-top: 7px
				margin-bottom: 0px

		button
			@media screen and (max-aspect-ratio: 13/9)
				@media screen and (max-device-width: 480px)
					position: sticky
					left: 0
			margin-top: 4px
			&.btn-secondary
				background-color: #6c757d !important
				border-color: #6c757d !important
			&.btn-danger
				background-color: #dc3545 !important
				border-color: #dc3545 !important

/* меню */
div
	&.loading
		padding-left: 7px
div
	div
		&.without_padding
			@media print
				div
					&.head_menu
						display: none !important
			@media screen and (max-aspect-ratio: 13/9)
				@media screen and (max-device-width: 480px)
					div
						&.head_menu
							display: flex !important
							width: 100%
							a
								&#menu_btn
									width: 100vw
									text-align: left
									border-bottom: 0 !important
									border-right: 0 !important
									box-sizing: content-box
							
							div
								width: 100%
								border-right: 0 !important
								box-sizing: content-box
								&.dropdown:after
									content: ""
									display: block
									width: 100%
									background: var(--MenuColor)
									position: absolute
									height: 100%
									z-index: 1100
									opacity: 1
								&.dropdown
									div
										div
											&.black_block
												top: -50vh !important
												right: 0
												left: 0
												position: fixed
												width: 100vw
												height: 0
												z-index: 700
												opacity: 0
												display: block !important
												overflow: scroll
												background-color: black !important
												div
													height: calc(100vh + 10px)
													background-color: black !important
													opacity: 0
													height: 100%
													a
														height: 100%
										&.show > .black_block
											height: 160vh
											opacity: 0.7
								button:hover
								button
									width: 100vw
									text-align: left
									z-index: 1200 !important
								div
									top: calc(1.5em + 4px) !important
									min-width: calc(100% + 2px) !important
									a
										&.menu_btn
											z-index: 1000
											position: relative
											border-left: 0 !important
											border-right: 0 !important
											width: 100%
											box-sizing: content-box

			div
				&.head_menu
					display: inline-flex
					white-space: nowrap
					background-color: var(--MenuColor)

					li:last-child
						float: none
						width: auto
					a
						&#menu_btn
							color: var(--ButtonTextColor) !important
							background: hsla(0,0%,100%,.3)
							padding-top: 2px
							padding-bottom: 2px
							border: solid 1px var(--MenuColor)
							border-left: 0px
							text-decoration: none
							padding-left: 7px
							padding-right: 7px
					div
						&.black_block
							display: none
					div
						/*height: 30px*/
						&.menu_btn
							border: solid 1px var(--MenuColor)
							border-left: 0px
							z-index: 1000
							button
								background: hsla(0,0%,100%,.3) !important
								padding: 5px
								
								line-height: normal
								padding-left: 7px
								padding-right: 7px
								height: calc(1.5em + 4px)
								color: var(--ButtonTextColor) !important
							div.show
								background: var(--MenuColor)
								transform: translate3d(0px, calc(1.5em + 4px), 0px) !important
								@media screen and (max-device-width: 767px) and (orientation: portrait)
									transform: translateX(0px) !important
									top: calc(1.5em + 4px) !important
							div
								padding: 0
								min-width: 0
								background-color: white
								border: 0
								border-radius: 0
								background-clip: unset
								margin: 0px -0px 0px -1px
								@media screen and (max-device-width: 767px) and (orientation: portrait)
									transform: none !important
									top: calc(1.5em + 4px) !important
								will-change: unset !important
								a
									&.menu_btn
										color: var(--ButtonTextColor)
										background: hsla(0,0%,100%,.3)
										padding: 5px
										border: solid 1px var(--MenuColor)
										line-height: normal
										text-decoration: none
										padding-left: 7px
										padding-right: 7px
										border-bottom: 0
										display: block
									&.menu_btn:last-child
										border-bottom: 1px solid var(--MenuColor)
/*меню вложенное*/
div.nested_menu
	display: contents
	color: var(--ButtonTextColor) !important
	width: max-content !important
	display: block
	margin-right: 7px
	margin-top: 10px
	margin-bottom: 2px
	&:hover
		z-index: 1200
	@media screen and (orientation: portrait)
		@media screen and (max-device-width: 480px)
			position: sticky
			left: 1px
			button
				text-align: left
				margin-left: -1px
				color: black !important
			div
				&.black_block
					top: 0
					right: 0
					left: 0
					position: fixed
					width: 100%
					height: 0
					background-color: black !important
					z-index: 1100
					opacity: 0
					display: block !important
					overflow: scroll
					div
						height: calc(100vh + 10px)
			div
				width: 100%
				border-right: 0 !important
				box-sizing: content-box
				&.dropdown
					button
						z-index: 1200!important
				&.dropdown:after
					content: ""
					display: block
					width: 100%
					background: var(--MenuColor)
					position: absolute
					height: 1.7rem
					z-index: 1100
					opacity: 1
					bottom: 0
				&.dropdown:hover
					z-index: 1200
					div
						div
							&.black_block
								top: -100vh !important
								right: 0
								left: 0
								position: fixed
								width: 100vw
								height: 0
								z-index: 700
								opacity: 0
								display: block !important
								overflow: scroll
								background-color: black !important
								div
									height: calc(400vh + 10px)
									background-color: black !important
									opacity: 0
									a
										height: 100%


						&.show > .black_block
								height: 400vh
								opacity: 0.7
				a
					&.menu_btn
						position: relative
						z-index: 700
						color: black !important
						background-color: white !important
						border-color: var(--MenuColor) !important
						border-right: 0 !important
						border-left: 0 !important
						width: 100vw
						box-sizing: content-box
	div
		&.menu_btn
			width: 42px !important
			border: 0
			border-left: 0px
			vertical-align: bottom
			button
				background: hsla(0,0%,100%,.3) !important
				padding: 0px
				padding-left: 7px
				padding-right: 7px
				line-height: normal
				height: calc(1.5em + 4px)
				margin-top: -12px
			div.show
				transform: none !important
				top: calc(1.5em - 8px) !important
				@media screen and (max-device-width: 767px) and (orientation: portrait)
					transform: none !important
					top: calc(1.5em - 8px) !important
			div
				padding: 0
				min-width: 0
				background-color: var(--MenuColor)
				border: 0
				border-radius: 0
				background-clip: unset
				margin: 0px -0px 0px -1px
				will-change: unset !important
				div
					&.black_block
						display: none
				a
					&.menu_btn
						background: hsla(0,0%,100%,.3)
						color: var(--ButtonTextColor)
						padding: 5px
						border: solid 1px var(--MenuColor)
						line-height: normal
						text-decoration: none
						padding-left: 7px
						padding-right: 7px
						border-bottom: 0
						display: block
			button
				text-align: left
				margin-left: -1px
				color: var(--ButtonTextColor) !important
