*
	margin: 0
	font-family: var(--Font)
	color: black !important
	max-width: none !important
	min-width: none !important
body
	margin-left: 1px
	margin-right: 1px
	margin-top: 0px
	margin-bottom: 1px
	width: 100%
	height: 100%
	position: absolute
	overflow: hidden
@media print
	@page
		margin: 50px
	body
		-webkit-print-color-adjust: exact
		 color-adjust: exact
div.without_padding
	padding: 0px
button
	border-radius: inherit !important
	background-color: white !important
	border: 0px !important
a
	border-radius: inherit !important
input
	border-radius: inherit !important
select
	border-radius: inherit !important

/* Авторизация */

div
	&.main_aut
		width: 100%
		height: 100%
		position: absolute
		overflow: auto
		top: 0
		left: 0
		display: flex
		max-width: 100%
		form
			&.aut
				margin: auto
				display: flex
				align-items: center
				justify-content: center
				flex-direction: column
				justify-content: space-around
				background: var(--BackgroundColor)
				width: 180px
				height: 200px
		
				div
					&.group
						height: 50px
						width: 160px
						>div
							input
								&.text
									padding: 5px
									height: 18px
									width: 160px
									text-decoration: none
									-webkit-appearance: none
									box-sizing: content-box
										
				
				button
					&.btnn
						padding: 5px
						border: none
						background: #FFFFFF;
						text-decoration: none
						-webkit-appearance: none
						color: black

/* Навигация */
/* ! - Переписать "display: flex" на базовый функционал с дефолтными маржинами и фиксированной максимальной шириной*/
#logout
	margin: 1px

.menu_category
	margin-top: 20px
	padding-top: .75rem
	padding-bottom: .75rem
	background-color: rgba(86, 61, 124, .15)
	border: 1px solid rgba(86, 61, 124, .2)
	*
		padding-left: 30px

div
	&.main_nav
		max-width: 100%
		width: 100%
		height: 100%
		position: fixed
		overflow: auto
		top: 0
		left: 0
		display: flex
		padding: 0

		@media screen and (max-device-width: 480px)
			div
				&.submain_nav
					width: 100% !important
					margin-top: 0px !important
					div
						&#logout
							margin: 0px !important
							width: 100% !important

							button
								margin: 0px !important
								width: 100% !important
								text-align: left

					div
						&.subsubmain_nav
							height: auto !important
							margin: 0px !important
							width: 100% !important

							div
								&.nav_sec
									margin: 0px !important

									div
										&.nav_sec_tit
											height: 29px !important
											margin: 0px !important
											padding: 5px  !important
											
											a
												padding: 0px !important
												line-height: normal
									div
										width: 100% !important
										margin: 0px !important
										padding: 0px !important
										
										a
											&.nav_ent
												margin-right: 0px !important
												margin-bottom: 1px
												width: 100%
												text-align: left
												height: 29px
		div
			&.submain_nav 
				width: 650px; /*450px*/
				background: white
				overflow: auto
				display: block
				margin: auto
				padding: 0
				max-width: 650px
				background: var(--NavigationBackColor)
				div
					&#logout
						button
							display: block
							padding: 5px
							height: 28px
							color: black
							line-height: normal
							background-color: #FFFFFF
							text-decoration: none
							border: 0px
							margin-right: 1px
							margin-bottom: 1px
				div
					&.subsubmain_nav
						width: 90%
						height: 90%
						display: flex
						align-items: center
						justify-content: center
						flex-direction: column
						align-items: flex-start
						margin: auto
						border: 0px
						padding: 0
						background-color: transparent;
						div
							&.nav_sec 
								margin-bottom: 20px
								float: left
								clear: left
								padding: 0
								
								div
									&.nav_sec_tit 
										padding: 5px
										padding-left: 1px
										min-height: 18px
										width: 100%
								.nav_ent 
										display: block
										padding: 5px
										line-height: normal
										height: 28px
										color: black
										background-color: #FFFFFF
										text-decoration: none
										border: 0px
										margin-right: 1px
										margin-bottom: 1px


/* Таблица */
div
	&.cont_table
		width: min-content
		margin: 0px
		position: relative

div
	div
		div
			@media screen and (max-device-width: 650px)
				fieldset
					&.find
						position: initial !important
						min-width: 100% !important;
			fieldset	
				&.find:lang(ru)
					position: absolute
					top: -30px
					left: 291px
					width: calc(100% - 292px)
					min-width: 350px
					max-width: calc(100vw - 310px) !important
				&.find:lang(en)
					position: absolute
					top: -30px
					left: 232px
					width: calc(100% - 240px)
					min-width: 350px
					max-width: calc(100vw - 240px) !important
				&.find
					margin-bottom: 2px
					div
						flex-wrap: nowrap

						legend
							max-width: max-content !important
							padding-right: 0px !important
							line-height: normal !important
							padding: 0px;
							height: 24px;
							margin-top: 7px;

						div
							flex: unset
							padding-left: 0px !important
							padding-right: 0px !important
							height: 28px
							div
								input:focus 
									border-color: var(--TableBorderColor)
									box-shadow: 0 0 0 white
								input
									border-color: var(--TableBorderColor)
									margin-left: 2px !important
									&.find_in
										height: 28px
										margin-top: 1px
								div
									margin: 0px

									button
										padding: 5px
										border: 0
										padding-left: 0px !important
										line-height: normal !important
table
	width: auto !important
	table-layout: fixed
@media print
	div
		&.tabl
			height: 100%
			float: none !important
			overflow: visible !important
			@-moz-document url-prefix()
				table
					border-collapse: separate !important
					border-right: solid 1px var(--TableBorderColor)
			table
				max-width: 100% !important
				page-break-inside:auto
				border-spacing: 0
				thead
					th
						border: solid 1px var(--TableBorderColor)
				tbody
					tr
						td
							border: solid 1px var(--TableBorderColor)

div
	&.tabl 
		float: left
		height: 96vh
		width: 100vw
		padding: 0
		overflow: auto
		table
			thead
				height: 25px
				border-right: solid 1px  var(--TableBorderColor) !important
				th
					background: var(--TableBorderColor) !important
					overflow: hidden
					padding: 0
					border: 0
					font-weight: normal
					max-width: 50px !important
					overflow: hidden
					white-space: nowrap
					text-overflow: ellipsis
					position: sticky
					z-index: 10
					top: 0

					&.tabl_heading
						text-overflow: ellipsis
						vertical-align: top
			tbody
				border-right: solid 1px  var(--TableBorderColor) !important
				tr
					&.selected
						background-color: var(--ColorTableSelect)
					&.none_select
						background-color: var(--ColorTableBg)
					background-color: white
					border-right: solid 1px var(--TableBorderColor)
					height: 100%
					z-index: 100
					@-moz-document url-prefix()
						td
							height: 100%
				td
					border: solid 1px var(--TableBorderColor)
					padding: 0px
					button
						&.open_form
							padding: 0
							width: 14px
							margin-top: -27px
							border: 0
							box-shadow: none
							outline: none 
							height: 0px
							img
								max-width: 100% !important
								top: -3px
						&.open_form:focus, &.open_form:active
							box-shadow: none;

/* Форма */
@media print
	button.delete_btn
		display: none !important
div
	&.cont_form
		overflow-y: auto
		overflow-x: hidden
		height: 96vh
		width: 100vw
form
	&.view_form
		@media print
			div
				&.form_block
					width: 148vw !important
					div
						page-break-inside: avoid
						div
							page-break-inside: avoid
				
		div
			textarea
				max-width: 98%
				min-width: 
				resize: none

			&.form_block
				width: 100%
				margin: 0 1px
				display: inline-block
				vertical-align: top

/* меню */
div
	div
		&.without_padding
			@media print
				div
					&.head_menu
						display: none !important
			div
				&.head_menu
					display: inline
					white-space: nowrap
				
					a
						&#menu_btn
							background-color: var(--MenuColor)
							padding: 5px
							border: solid 1px white
							border-left: 0px
							height: 30px
							line-height: normal
							text-decoration: none
					div
						height: 30px
						&.dropdown:hover > .dropdown-menu
							display: block
						&.menu_btn
							border: solid 1px white
							border-left: 0px

							button
								background-color: var(--MenuColor) !important
								padding: 5px
								pointer-events: none
								line-height: normal
							div
								padding: 0
								min-width: 0
								background-color: white
								border: 0
								border-radius: 0
								background-clip: unset
								margin: -0.5px -0px 0px -1px;
								a
									&.menu_btn
										background-color: var(--MenuColor)
										padding: 5px
										border: solid 1px white
										height: 30px
										line-height: normal
										text-decoration: none
