$enable-rounded: false;
$enable-shadows: false;
$enable-gradients: false;
$font-family-sans-serif: var(--Font);
$font-family-serif: var(--Font);

@import '../../node_modules/bootstrap/scss/bootstrap';
@import 'mixins.scss';

/*
 *общие настройки
 *текста
 *отступов (т.к bootstrap их по дефолту выстовляет свои)
 *минимальных размеров и максимальных размеров для удобства выставление собственных размеров
 */
html {
  overflow-x: hidden;
  overflow-y: hidden;
}

* {
  margin: 0;
  font-size: var(--FontSize);
  min-width: none !important;
}

/*
 *позиционирование боди под наши стили
 *установка размеров боди для наследования и размеров дочерних элементов выставленных в % (чтобы браузер мог их высчитать)
 *overflow:hidden запрещает скролл для удобства пролистывания таблиц и прочего (где нужно можно выставить возможность скрола на самой странице)
 */
body {
  font-family: var(--Font);
  top: 0;
  margin-top: 0;
  margin-bottom: 1px;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  bottom: 0;
  background-color: var(--MainBackgroundColor);
  -webkit-text-size-adjust: none;

  div#app {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

/*
 *стили печати
 *запрет браузеру менять цвета при печати
 *отступы для правильного отображения страницы на печатном листе
 */
@media print {
  @page {
    margin: 50px;
  }

  body {
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    background-color: white !important;
  }
}

/*
 *убираем красивости у кнопок селектов ссылок и прочего (без important придется прописывать этоже буквально для каждой кнопки)
 */
button {
  border: 0 !important;
}

input:focus {
  outline: none;
}

/* Фильтр в таблице */
div {
  div {
    div {
      /* фильтры для маленьких экранов */
      @media screen and (max-device-width: 650px) {
        form {
          &.find {
            input {
              margin-top: 0 !important;
              margin-bottom: 1px !important;
            }
          }
        }
      }

      form {
        border-top: 1px solid white;
        border-bottom: 1px solid white;

        @media screen and (max-device-width: 650px) {
          border-top: 0;
          border-bottom: 0;
        }

        /* Внутренние части текущего фильтра */
        &.find {
          top: 0;
          display: inline-flex;
          flex: 1;
          width: auto;
          border: 0;

          div {
            background-color: var(--MainBackgroundColor);
            width: 100% !important;
            padding-left: 5px;

            div {
              margin: 0;

              span {
                border: 0;
                padding-left: 0 !important;
                line-height: normal !important;
                position: absolute !important;
                display: inline-table;
                right: 10px;
                top: 1px;
                bottom: 0;
                height: 1.5em;
                margin: auto;
                cursor: pointer;
                z-index: 4 !important;
              }
            }

            input {
              border-color: var(--MainBorderColor);
              border-radius: 3px;

              &.find_in {
                height: calc(1.5em + 4px);
                padding-left: 7px;
                color: var(--MainTextColor);
              }

              &.find_in + div {
                color: var(--MainTextColor);
              }

              &.find_in::placeholder {
                color: var(--MainTextColor);
              }
            }

            input:focus {
              border-color: var(--MainBorderColor);
              box-shadow: 0 0 0 white;
            }
          }
        }
      }
    }
  }
}

// Works like `no-gutters` for Bootstrap's `.row`.
.sm-gutters {
  margin-left: -10px;
  margin-right: -10px;

  > div[class*="col-"] {
    padding-right: 10px;
    padding-left: 10px;
  }
}

/* Source: https://google.github.io/material-design-icons/ */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.material-icons.material-button {
  @include material-button;

  user-select: none;
}
