/*
 *общие настройки
 *текста
 *отступов (т.к bootstrap их по дефолту выстовляет свои)
 *минимальных размеров и максимальных размеров для удобства выставление собственных размеров
 */
html
	overflow-x: hidden
	overflow-y: hidden
*
	margin: 0
	font-family: var(--Font) !important
	font-size: var(--FontSize) !important
	color: black !important
	max-width: none !important
	min-width: none !important
/*
 *позиционирование боди под наши стили
 *установка размеров боди для наследования и размеров дочерних элементов выставленных в % (чтобы браузер мог их высчитать)
 *overflow:hidden запрещает скролл для удобства пролистывания таблиц и прочего (где нужно можно выставить возможность скрола на самой странице)
 */
body
	top: 0px
	margin-top: 0px
	margin-bottom: 1px
	width: 100%
	height: 100%
	position: absolute
	overflow: hidden
	bottom: 0px
	div#app
		height: 100%
/*
 *стили печати 
 *запрет браузеру менять цвета при печати
 *отступы для правильного отображения страницы на печатном листе
 */
@media print
	@page
		margin: 50px
	body
		-webkit-print-color-adjust: exact
		 color-adjust: exact
/*
 *bootstrap любит внутри обычного блока выставлять отступы убираем их
 */
div.without_padding
	padding: 0px
div.main_div
	height: 100%
	display: flex
	flex-direction: column
	div
		&.userview_div
			width: 100%
			overflow: hidden
			flex: 1
/*
 *убираем красивости у кнопок селектов ссылок и прочего (без important придется прописывать этоже буквально для каждой кнопки)
 */
button
	border-radius: inherit !important
	background-color: white !important
	border: 0px !important
a
	border-radius: inherit !important
input
	border-radius: inherit !important
select
	border-radius: inherit !important

/* Авторизация */

div
	&.main_aut
		width: 100%
		height: 100%
		position: absolute
		overflow: auto
		top: 0
		left: 0
		display: flex /*для удобства позиционирования окошка входа*/
		form
			&.aut
				margin: auto /*чтобы элемент автомотически стоял по центру экрана*/
				display: flex /*для красоты и позиционирования внутренних элементов*/
				align-items: center
				flex-direction: column /*расположение элементов друг под другом*/
				background: var(--BackgroundColor)
				width: 180px /*оптимально красивые размеры*/
				height: 200px
		
				div
					&.group
						height: 50px
						width: 160px
						>div
							input
								&.text
									padding: 5px
									height: 18px
									width: 160px
									text-decoration: none
									-webkit-appearance: none
									box-sizing: content-box
										
				
				button
					&.btnn
						padding: 5px
						border: none
						background: #FFFFFF; /*цвет кнопки входа возможно надо вынести в настройки*/
						text-decoration: none
						-webkit-appearance: none
						color: black

/* Навигация */
.scrol_menu
	display: block
	overflow: auto
	height:	inherit
.none_scrol
	overflow: hidden
	height:	inherit
	display: flex
	flex-direction: column
div
	&.main_nav
		width: 100%
		height: 100%
		position: fixed
		top: 0
		left: 0
		display: flex
		padding: 0
		overflow: auto
		/*мобильная версия
		 *important везде стоят чтобы переплюнуть не мобильные стили возможно с этим стоит что то сделать))
		 */
		@media screen and (orientation: portrait)
			@media screen and (max-device-width: 480px)
				&
					position: relative !important
				div
					&.submain_nav
						width: 100% !important
						margin-top: 0px !important
						padding-top: 0px !important
						padding-bottom: 0px !important

						div
							&.subsubmain_nav
								height: auto !important
								margin: 0px !important
								width: 100% !important

								div
									&.nav_sec
										margin: 0px !important

										div
											&.nav_sec_tit
												height: 29px !important
												margin: 0px !important
												padding: 5px  !important
											
												a
													padding: 0px !important
													line-height: normal
										div
											width: 100% !important
											margin: 0px !important
											padding: 0px !important
										
											a
												&.nav_ent
													margin-right: 0px !important
													margin-bottom: 1px
													width: 100%
													text-align: left
													height: 29px
		/*ПК навигация*/
		div
			&.submain_nav 
				width: 650px; /*450px*/
				display: block
				margin: auto
				padding: 0
				padding-top: 35px
				padding-bottom: 35px
				background: var(--NavigationBackColor)
				div
					&#logout
						button
							display: block
							padding: 5px
							padding-left: 7px
							padding-right: 7px
							height: 28px
							color: black
							line-height: normal
							background-color: #FFFFFF
							text-decoration: none
							border: 0px
							margin-right: 1px
							margin-bottom: 1px
				div
					&.subsubmain_nav
						width: 90%
						height: 90%
						display: flex
						align-items: center /*для разных браузеров*/
						justify-content: center /*для разных браузеров*/
						flex-direction: column
						align-items: flex-start
						margin: auto
						border: 0px
						padding: 0
						background-color: transparent;
						*
							padding-left: 30px
						div
							&.nav_sec 
								margin-bottom: 20px
								float: left
								clear: left
								padding: 0
								
								div
									&.nav_sec_tit 
										padding: 5px
										padding-left: 1px
										min-height: 18px
										width: 100%
								.nav_ent 
										display: block
										padding: 5px
										padding-left: 7px
										padding-right: 7px
										line-height: normal
										height: 28px
										color: black
										background-color: #FFFFFF
										text-decoration: none
										border: 0px
										margin-right: 1px
										margin-bottom: 1px

/*фиксированная строка внизу*/
nav
	&.fix-bot
		padding: 0
		line-height: normal
		width: 100vw
		white-space: nowrap
		overflow-x: auto
		overflow-y: hidden
		display: inline
		text-align: right
		margin-left: -1px !important
		position: relative
		div
			&.error
				margin-left: 1px !important
				margin: 0
				padding: 0
				border: 0
				border-radius: inherit
				display: inline-block
				button
					padding: 0
					margin: 0px
					margin-left: 0
					line-height: normal
					position: relative
					font-size: inherit
					background: white
					float: none
					vertical-align: unset


/* Таблица */
div
	&.cont_table
		@media screen and (max-device-width: 650px)
			display: flex
			flex-direction: column
			height: 100%
		width: min-content
		margin: 0px
		position: relative
		height: 100%

div
	div
		div
			/*фильтры для маленьких экранов*/
			@media screen and (max-device-width: 650px)
				fieldset
					&.find
						position: initial !important
						min-width: 100% !important;
						margin-top: -1px;
						margin-bottom: -1px !important;
			/*фильтр для больших экранов
			 *пока костыльное решение нормально скрашивает все что нам нужно
			 */
			fieldset	
				&.find
					position: fixed
					top: 0px
					left: 299px
					width: calc(100% - 300px)
					min-width: 350px
					max-width: calc(100vw - 310px) !important
				/*Внутренние части текущего фильтра*/
				&.find
					margin-bottom: 2px
					div
						flex-wrap: nowrap

						legend
							max-width: max-content !important
							padding-right: 0px !important
							line-height: normal !important
							padding: 0px;
							height: 24px;
							margin-top: 7px;
							margin-left: 7px
							margin-right: -9px

						div
							flex: unset
							padding-left: 0px !important
							padding-right: 0px !important
							height: 28px
							div
								input:focus 
									border-color: var(--TableBorderColor)
									box-shadow: 0 0 0 white
								input
									border-color: var(--TableBorderColor)
									margin-left: 2px !important
									&.find_in
										height: 28px
										margin-top: 1px
										padding-left: 7px
								div
									margin: 0px

									span
										border: 0
										padding-left: 0px !important
										line-height: normal !important
										position: absolute !important
										right: 10px
										top: 0
										bottom: 0
										height: 14px
										margin: auto
										cursor: pointer
										z-index: 4 !important
										
/*непосредственно сама таблица*/
/*решение для контролируемости ширины колонок*/
table
	width: 0 !important
	table-layout: fixed

/*технические колонки*/
.checkbox-col
	width: 20px
.open-form-col
	width: 20px

/*вид печати таблиц*/
@media print
	div
		&.tabl
			height: 100%
			float: none !important /*при печати для правильной масштабируемости*/
			overflow: visible !important /*чтобы при печати была возможность видеть таблицу*/
			@-moz-document url-prefix() /*стили в лисе исправляем баги с отображением границ таблицы*/
				table
					border-collapse: separate !important
					border-right: solid 1px var(--TableBorderColor)
			table
				max-width: 100% !important
				page-break-inside:auto
				border-spacing: 0
				thead
					th
						border: solid 1px var(--TableBorderColor)
				tbody
					tr
						td
							border: solid 1px var(--TableBorderColor)
							a
								text-decoration: none !important
div
	&.count_row
		bottom: 0px
		z-index: 2000
		line-height: normal
		float: left
		display: inline-block
		margin-left: 2px
div
	&.tabl
		@media screen and (max-device-width: 650px)
			flex: 1
			height: none
		float: left
		height: 100%
		width: 100vw /*на весь экран*/
		padding: 0
		overflow: auto /*чтобы скролить таблицу в том числе на мобилке*/
		
		table
			margin-bottom: 0px !important;
			thead
				height: 25px
				border-right: solid 1px  var(--TableBorderColor) !important
				th
					background: var(--TableBorderColor) !important
					padding: 0
					border: 0
					font-weight: normal
					max-width: 50px !important
					overflow: hidden
					white-space: nowrap
					text-overflow: ellipsis
					position: sticky/*фиксация шапки при скроле*/
					z-index: 10 /*при скроле таблицы чтобы шапка была видна*/
					top: 0
					padding-left: 3px

					&.tabl_heading
						text-overflow: ellipsis
						vertical-align: top
			tbody
				border-right: solid 1px  var(--TableBorderColor) !important
				tr
					/*выделение строк*/
					&.selected
						background-color: var(--ColorTableSelect)
					&.none_selected
						background-color: var(--ColorTableBg) !important
					background-color: white/*цвет таблицы возможно надо сменить на настраевоемый*/
					border-right: solid 1px var(--TableBorderColor)
					height: 100%
					@-moz-document url-prefix()
						td
							height: 100%
				td
					border: solid 1px var(--TableBorderColor)
					padding: 0px
					padding-left: 3px
					word-break: break-word /*перенос слов если пользователь задал слишком маленькую ширину*/
					overflow: hidden
					button
						&.open_form
							padding: 0
							width: 14px
							margin-top: -27px/*фикс стилей bootatrap не трогать!!!!*/
							border: 0
							box-shadow: none
							outline: none 
							height: 0px
							img
								max-width: 100% !important
								top: -3px /*фикс стилей bootatrap не трогать!!!!*/
						&.open_form:focus, &.open_form:active
							box-shadow: none;

/* Форма */
@media print
	button.delete_btn
		display: none !important
div
	&.cont_form
		overflow-y: auto
		overflow-x: hidden
		height: 100%
		width: 100vw
form
	&.view_form
		@media print
			div
				&.form_block
					width: 148vw !important
					div
						page-break-inside: avoid
						div
							page-break-inside: avoid
				
		div
			textarea
				max-width: 98%
				min-width: 
				resize: none

			&.form_block
				@media screen and (orientation: portrait)
					@media screen and (max-device-width: 480px)
						width: 100% !important
						display: block
				width: 100%
				margin: 0 1px
				display: inline-block
				vertical-align: top

			&.form-group
				margin-top: 7px
				margin-bottom: 0px 

/* меню */
div
	div
		&.without_padding
			@media print
				div
					&.head_menu
						display: none !important
			@media screen and (orientation: portrait)
				@media screen and (max-device-width: 480px)
					div
						&.head_menu
							display: flex !important
							width: 100%

							a
								&#menu_btn
									width: 100%
									text-align: left
									border-bottom: 0 !important
									border-right: 0 !important
							div
								&.black_block
									top: 0
									right: 0
									left: 0
									position: fixed
									width: 100vw
									height: 0
									background-color: black !important
									z-index: 700
									opacity: 0
									display: block !important
							
							div
								width: 100%
								border-right: 0 !important
								&.dropdown:hover
									border: 0
								&.dropdown:not(:hover) + .black_block
									transition: height 1s
								&.dropdown:hover + .black_block
									height: 100vh
									opacity: 0.7
								button
									width: 100%
									text-align: left
								div
									min-width: calc(100% + 2px) !important
									a
										&.menu_btn
											background-color: white !important
											border-color: var(--MenuColor) !important
											border-left: 0 !important
											border-right: 0 !important

			div
				&.head_menu
					display: inline
					white-space: nowrap
				
					a
						&#menu_btn
							background-color: var(--MenuColor)
							padding: 5px
							border: solid 1px white
							border-left: 0px
							height: 30px
							line-height: normal
							text-decoration: none
							padding-left: 7px
							padding-right: 7px
					div
						&.black_block
							display: none
					div
						height: 30px
						&.dropdown:hover > .dropdown-menu
							display: block
						&.menu_btn
							border: solid 1px white
							border-left: 0px
							z-index: 1000
							button
								background-color: var(--MenuColor) !important
								padding: 5px
								pointer-events: none
								line-height: normal
								padding-left: 7px
								padding-right: 7px
							div
								padding: 0
								min-width: 0
								background-color: white
								border: 0
								border-radius: 0
								background-clip: unset
								margin: -0.5px -0px 0px 0px;
								a
									&.menu_btn
										background-color: var(--MenuColor)
										padding: 5px
										border: solid 1px white
										height: 30px
										line-height: normal
										text-decoration: none
										padding-left: 7px
										padding-right: 7px
										border-bottom: 0
