/* Общие */

*{
    margin: 0;
    zoom: 104%;
    font-family: Courier New, monospace;
}

body {
    width: 100%;
    height: 100%;
}


p {
    margin: 0;
}

a.bl {
    display: block;
    padding: 5px;
    color: black;
    text-decoration: none;
    border-bottom: 1px solid white;
}

input {
    border-radius: 0;
    -webkit-appearance: none;
}

/* Меню */

ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.menu > li{
    position: relative;
    margin-right: 1px;
    width: 100%;
}

ul.menu > li.submenu  {
    position: relative;
    width: 100%;
}

ul.menu > li:hover > ul.submenu {
    display: block;
}
ul.submenu {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    z-index:1000;
}
ul.submenu > li {
    display: block;
    z-index: 2000000;
}


/* Авторизация */

div.main_aut {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    display: flex;
}

form.aut {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    width: 210px;
    height: 130px;
}

form.aut > input.str {
    padding: 5px;
    height: 18px;
    width: 125px;
    text-decoration: none;
    border-radius: none;
}

form.aut > input.text {
    padding: 5px;
    height: 18px;
    width: 125px;
    text-decoration: none;
    border-radius: none;
    -webkit-appearance: none;
	border-radius:0;
}

form.aut > input.btn {
    padding: 5px;
    border: none;
    background: #FFFFFF;
    text-decoration: none;
    border-radius: none;
    -webkit-appearance: none;
	border-radius:0;
}


/* Навигация */

div.main_nav {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

div.submain_nav {
    width: 100%;
    height: 100%;
    background: white;
    overflow: hidden;
}

div.subsubmain_nav {
    width:100%;
    height: 100%;
    overflow: hidden;
}

div.nav_sec {
    width:100%;
    overflow: hidden;
}

div.nav_sec_tit {
    padding: 5px;
    width: 100%;
    overflow: hidden;
}

div.nav_sec_ents {
    width: 100%;
    overflow: hidden;
}

div.nav_ent {
    float:left;
    background: #FFFFFF;
    margin-bottom: 1px;
    width: 100%;
    overflow: hidden;
}

div.nav_ent > a {
    display: block;
    padding: 5px;
    color: black;
    background-color: #FFFFFF;
    text-decoration: none;
    width: 100%;
}


/* Таблица */
td.open_form {
    overflow: hidden;
    min-width: 14px;
    max-width: 14px;
    cursor: pointer;
}
.empty_th {
    min-width: 14px;
    max-width: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.glav_tab::-webkit-scrollbar {
    width: 0 !important;
}

.tabl_body {
    height: 70vh;
}

.glav_tab{
    overflow:scroll;
}

.tabl_head {
    overflow: hidden;
}

th {
    font-weight: normal;
}

tr.bl {
    background: #FFFFFF;
}
input.custom_checkbox {
    width: 100%;
    -webkit-appearance: checkbox;
}

.fly_block {
    width: 100%;
    display: flex;
    -webkit-transform: translate3d(0, 0, 0);
    z-index: -100;
}
div.fly_block > div{
    width:50%;
    display:inline-block;
}
table {
    background: white;
    border-spacing: 1px;
    table-layout: fixed;
}


/* Форма */
.container {
    margin-top: -20px;
}
textarea{
    max-width: 98%;
    min-width: 98%;
    border-radius:0;
    -webkit-appearance:none;
}


div.form_field {
    padding: 10px;
    overflow: hidden;
}

div.form_field_tit > p {
    padding: 5px;
    overflow: hidden;
}

div.form_field_sense {
    width: 100%;
    padding: 5px;
    overflow: hidden;
    -webkit-appearance: none;
}

div.topsector {
    width: 100%;
    clear:both;
}

#Block1, #Block2, #Block3, #Block4 {
    width: 100%;
}

/*Календарь*/


.calendar_body {
    position: absolute;
    top: 40px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    overflow: hidden;
}

.month-row {
    position: absolute;
    left: 0px;
    width: 100%;
    overflow: hidden;
}

.line_table {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    table-layout: fixed;
    opacity: 0.4;
    border-top: 0px;
    border-bottom: 0px;
}

.table_for_note {
    position: relative;
    table-layout: fixed;
    width: 100%;
    border-bottom: 0px;
    background: none;
}

#calendar2 {
    width: 100%;
    font: monospace;
    line-height: 1.2em;
    font-size: 15px;
    text-align: center;
}

    #calendar2 .today {
        background: blue;
    }

.head_block {
    display: inline-block;
    margin: 0 auto;
}

.head_td {
    border-left: 0px;
    border-bottom: 0px;
}

.block_td {
    border-left: 0px;
    border-top: 0px;
}

.date {
    float: left;
    margin-left: 10px;
    margin-top: 5px;
}

.add_new_entry {
    float: right;
    margin-right: 10px;
    margin-top: 5px;
}

#new_entry {
    position: absolute;
    height: 150px;
    width: 200px;
    visibility: hidden;
    z-index: 200;
}

.Notes {
    margin-left: 1%;
    max-width: 98%;
    min-width: 98%;
    height: 40%;
}

.note_in_calendar {
    margin: 0 auto;
    height: 20px;
    position: relative;
    z-index: 100;
    overflow: hidden;
}

.head_line {
    width: 100%;
    table-layout: fixed;
    text-align: left;
    border-bottom: 0px;
}

.month_row {
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    height: 16.6%;
}

.all_entry {
    margin-top: 5px;
    float: left;
    margin-left: 10px;
}

#allEntrys {
    position: absolute;
    height: 200px;
    width: 150px;
    visibility: hidden;
    z-index: 200;
}

.DWEbody {
    height: calc(100% - 24px);
    width: 100%;
    overflow-y: auto;
}